body {
	font-family: tahoma, Arial, sans-serif;
	background-color:#3C694F;
	color:#c0c0c0;
	}
	
h1 {
    text-align: center;
	font-size:48px;
	color:#FFFFFB;
	background-color:#2C383C;
	}
	
h2 {
	font-size:28px;
	color:#336699;
	background-color:#222222;
	}
h3 {
	font-size:24px;
	color:#22ffff;
	background-color:#222222;
	}
h4, h5, h6 {
	font-size:18px;
	color:#ff88ff;
	background-color:#222222;
	}

a {
	text-decoration:none;
	color:#ffffff;
	}
	
a:hover {
	color:#00ff00;
	}
