body {
	background-color:#DED8D6;
	color:#c0c0c0;
	}

div {
  background-color:#FFFFFF;
  width:100%;
}

#head {
  text-align:center;
  font-size:12px;
}
p {
  font-size:15px;
  color:#050505;
  text-align:right;
  margin-right: 50px;
}
section p:first-child {
  font-size: 48px;
  text-align:center;
  clear:both;
  font-family:Garamond;
  color:#898080;
}

section p:nth-child(3) {
  text-align:right;
  color: #F65317;
  font-size:20px;
  font-family: Garamond, sans-serif;
}

h1, nav {
  text-align: left;
	font-size:48px;
	color: #050505;
  font-family:Impact, sans-serif;
	}
 

h3 {
	font-size:16px;
	color:#336699;
	background-color:#3C694F;
	}
h4, h5, h6 {
	font-size:18px;
	color:#ff88ff;
	background-color:#222222;
	}


.head {
  height: 75px;
  align: center;
  width:375px;
}

header {
  height:100px;
  border-bottom: 3px solid #F65317;
  margin-bottom:50px;
}

header h1 {
  display:block;
  float:left;
  margin-top:0;
  padding:20px;
}

#me {
  width:500px;
  margin-left:50px;
}

header nav {
  display:block;
  float:right;
  margin-top:0;
  padding:20px;
  padding-top:40px;
}

header nav ul {
  list-style-type:none;
  margin:0;

header nav ul li {
  text-decoration:none;
  display:block;
  float:left;
  margin-left:10px;
  margin-right:10px;
  font-size:22px;
  font-family: Garamond;  
}

section ul li {
   align:left;
   width:250px;
   }