body {
	background-color:#DED8D6;
	color:#c0c0c0;
	}

div {
  background-color:#FFFFFF;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  height:auto;
}

#head {
  text-align:center;
  font-size:12px;
}
p {
  font-size:15px;
  color:#050505;
  text-align:justify;
  margin-right: 50px;
  font-family: Garamond, sans-serif;
}

section p:first-child {
  font-size: 48px;
  text-align:center;
  clear:both;
  font-family:Garamond, sans-serif;
  color:#9B9595;
}

section p:nth-child(3) {
  font-size:18px;
  font-family: Garamond, sans-serif;
  }

h1, nav {
    text-align: left;
	font-size:48px;
	color: #050505;
    font-family:Impact, sans-serif;
}

h3 {
	font-size:16px;
	color:#336699;
	background-color:#3C694F;
}


h2 {
   font-size:16px;
   color:#F65317;
   text-align:center;
   }


.head {
  height: 75px;
  width:375px;
  margin:auto;
}


header {
  height:100px;
  border-bottom: 3px solid #F65317;
  margin-bottom:50px;
}

header h1 {
  display:block;
  float:left;
  margin-top:0;
  padding:20px;
}

#me {
  width:500px;
  margin-left:50px;
  margin-right:50px;
  padding-bottom:50px;
  float: left;
}

header nav {
  display:block;
  float:right;
  margin-top:0;
  padding:20px;
  padding-top:40px;
}

header nav ul {
  list-style-type:none;
  margin:0;
  }

header nav ul li {
  text-decoration:none;
  display:block;
  float:left;
  margin-left:10px;
  margin-right:10px;
  font-size:20px;
  font-family: Garamond, sans-serif;  
}

.mqt {
   text-align:left;
   width:250px;
   height:175px;
   }
   
article ul li {
   list-style-type:none;
   margin-left:30px;
   font-family:Garamond, sans-serif;
   font-size:15px;
   color: #050505;
   }
   
.vert {
    text-align:center;
    width:250px;
    height:375px;
    }

#icon {
    width: 40px;
    height: 40px;
    float: right;
    }
    
.contact {
     text-align: center;
     width: 500px;
     font-size: 15px;
     font-family: Garamond, sans-serif;
     margin:auto;
     }
     
.email {
    text-align:center;
    color:#F65317
    }
     
section.landing {
    height:500px;
    }
    

.thumbnail {
      height:200px;
      width:140px;
      float:left;
      margin-left:70px;
      margin-right:70px;
      font-family:Garamond, sans-serif;
      padding-bottom;80px;
      }
      
.project {
     text-align:justify;
     color:#050505;
     font-size:12px;
     font-family:Garamond, sans-serif;
     text-justify:interword;
     padding-bottom:20px;
}

.title {
     text-align:justify;
     color:#050505;
     font-size:18px;
     font-family:Garamond, sans-serif;
     text-justify:interword;
     padding-bottom:5px;
     }

.dh {
     text-align:justify;
     color:#050505;
     font-size:14px;
     font-family:Garamond, sans-serif;
     text-justify:interword;
     padding-bottom:20px;
     }
     
#resume {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:800px;
    height:1050px;
    text-align:center;
    }

article {
    float: left;
    }

     
 a:link {
    text-decoration: none;
    color:#050505;
}

a:visited {
    text-decoration: none;
    color:#050505;
}

a:hover {
    text-decoration: none;
    color: #c0c0c0;
}

a:active {
    text-decoration: none;
    color: #F65317
    
}    


     
