body {
	background-color:#DED8D6;
	color:#c0c0c0;
	}

div {
  background-color:#FFFFFF;
  width:100%;
}

#head {
  text-align:center;
  font-size:12px;
}
p {
  font-size:15px;
  color:#050505;
  text-align:right;
  margin-right: 50px;
}

section p:first-child {
  font-size: 48px;
  text-align:center;
  clear:both;
  font-family:Garamond;
  color:#898080;
}

section p:nth-child(3) {
  text-align:right;
  color: #F65317;
  font-size:20px;
  font-family: Garamond, sans-serif;
}

h1, nav {
    text-align: left;
	font-size:48px;
	color: #050505;
    font-family:Impact, sans-serif;
}

h3 {
	font-size:16px;
	color:#336699;
	background-color:#3C694F;
}

h4, h5, h6 {
	font-size:18px;
	color:#ff88ff;
	background-color:#222222;
}

h2 {
   font-size:16px;
   color:#F65317;
   text-align:center;
   }


.head {
  height: 75px;
  text-align: center;
  width:375px;
}

header {
  height:100px;
  border-bottom: 3px solid #F65317;
  margin-bottom:50px;
}

header h1 {
  display:block;
  float:left;
  margin-top:0;
  padding:20px;
}

#me {
  width:500px;
  margin-left:50px;
}

header nav {
  display:block;
  float:right;
  margin-top:0;
  padding:20px;
  padding-top:40px;
}

header nav ul {
  list-style-type:none;
  margin:0;
  }

header nav ul li {
  text-decoration:none;
  display:block;
  float:left;
  margin-left:10px;
  margin-right:10px;
  font-size:20px;
  font-family: Garamond;  
}

#mqt {
   text-align:left;
   width:250px;
   height:175px;
   }
   
section ul li {
   list-style-type:none;
   margin-left:30px;
   }
   
#vert {
    text-align:center;
    width:250px;
    height:400px;
    }

#icon {
    width: 40px;
    height: 40px;
    text-align: right;
    }
    
.contact {
     text-align: center;
     }

#thumbnail {
      height:200px;
      width:140px;
      float:left;
      margin:5px;
      font-family:Garamond;
      }
#projects {
     text-align: justify, right;
     color:#050505
     font-size:14px;
     font-family:Garamond;
     text-justify:interword;
     }
     
 a:link {
    text-decoration: none;
    color:#050505;
}

a:visited {
    text-decoration: none;
    color:#050505;
}

a:hover {
    text-decoration: none;
    color: #c0c0c0;
}

a:active {
    text-decoration: none;
    color: #F65317
    
}    
     
